.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

ul li {
  margin-bottom: 5px;
}

.translator {
  margin-top: 25px;
}

.container {
  padding-top: 40px;
}

.content {
  padding-left: 40px;
}
