.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
  min-width: 160px;
}

ul li {
  margin-bottom: 5px;
}

.translator {
  margin-top: 25px;
}

.container {
  padding-top: 40px;
}

.content {
  padding-left: 40px;
}

.child-content {
  padding-left: 20px;
}

.child-title {
  margin: 20px 0 20px 0
}

a {
  text-decoration: none;
}
